script(src='/bower_components/webcomponentsjs/webcomponents-lite.min.js')
// 2. Use an HTML Import to bring in some elements.
link(rel='import', href='/elements.html')
style.
  #main{
      background-color: #FAFAFA;
  }
  div#main section.main{
    padding:15px;
  }
  
  section.main paper-fab{
    margin-bottom:10px;
  }
  section.main paper-card {
    width:100%;
  }
  section.main paper-card table{
    padding:10px;
    width:100%;
  }
  
  section.main paper-card table td{
    padding:4px;
  }
  section.main paper-card table th{
    text-align:left;
  }
  section.main paper-card tr{
    border-bottom:2px solid #999;
  }
  section.main paper-card table tbody tr:hover{
    background:#F2F2F2;
  }
  /*dos columnas*/
  div.left-container{
    width:300px;
    padding-right:20px;
    min-height:300px;
  }
  div.right-container{
    width:100%;
    border-left:2px solid #eee;
    padding-left:10px;
  }
  div.center{
  text-align:center;
  }
  div.container{
    margin:0 30px 30px 30px;
  }
  div.dato{
  min-width:100px;
  padding-bottom:12px;
  }
  div.dato.largo{
    min-width:200px;
    padding-right:20px;
  }
  
  
  
  