extends /layout/aplication.pug
block variables
  - var back=true
block subtitulo
  ="Registro de empleado"
block content
  fab-back
  paper-card
    div.container
      form(method="post")
        formulario-empleado
        button(type='submit')="Enviar"
